{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <style>
        textarea {
            height: '150px',
        }
    </style>
{% endblock %}

{% block main %}
    <div class="box box-danger">
    <form class="form-horizontal" id="addForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name='id' value="{{ workflow_id }}"/>

        <div class="box-body">
            <fieldset>

                <legend>
                    <h4>附件添加</h4>
                </legend>

                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">附件</label>
                    <div class="col-sm-3">
                        <input type="file" name="attach_excel" id="attach_excel" style="display: none"/>
                        <input id="fi" type="text" style="height:36px;width:70%;">
                        <a class="btn btn-primary btn-sm " onclick="$('#attach_excel').click();">Browse</a>
                    </div>
                </div>

            </fieldset>
        </div>
    </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript">

        function custom_close(){
            if(confirm("您确定要关闭本页吗？")){
                window.opener=null;
                window.open('','_self');
                window.close();
            }
            else{
            }
        }

        $("#btnSave").click(function () {
            {#var data = $("#addForm").serialize();#}
            {#var id = '{{ workflow_id }}';#}
            $('#addForm').ajaxForm({
                type: $("#addForm").attr('method'),
                url: "{% url 'process:order-attach-create' %}",
                {#data: {id:id, data:data, csrfmiddlewaretoken: '{{ csrf_token }}'},#}
                {#data: data,#}
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        // return false;
                        layer.close(1)
                    } else {
                        layer.alert(msg.user_create_form_errors, {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }

                 }


             });

        });


        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        })

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围只到日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        //上传
        $('#attach_excel').on("change", (function () {
            //alert($(this).val());
            $("#fi").val($(this).val());
        }));

    </script>



{% endblock %}
