{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <style>
        textarea {
            height: '150px',
        }
    </style>
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post" enctype="multipart/form-data"
        >
            {% csrf_token %}
            <input type="hidden" name='id' value="{{ workflow_id }}"/>

            <div class="box-body">
                <fieldset>

                    <legend>
                        <h4>附件添加</h4>
                    </legend>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">附件</label>
                        <div class="col-sm-3">
                            <input type="file" name="attach_excel" id="attach_excel" style="display: none"/>
                            <input id="fi" type="text" style="height:36px;width:70%;">
                            <a class="btn btn-primary btn-sm " onclick="$('#attach_excel').click();">Browse</a>
                        </div>
                    </div>

                    <div class="box-footer ">
                        <div class="row span7 text-center ">
                            <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                            <button type="button" id="btnSave" class="btn btn-info margin-right ">確認</button>
                        </div>
                    </div>

                </fieldset>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript">

        $("#btnSave").click(function () {

            $("#addForm").ajaxForm(options).submit();

            var options = {
                url: "{% url 'process:order-attach-create' %}", //form提交数据的地址
                type: "POST", //form提交的方式(method:post/get)
                dataType: "json", //服务器返回数据类型
                clearForm: false, //提交成功后是否清空表单中的字段值
                restForm: false, //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
                success: function (data, statusText) {//提交成功后执行的回调函数
                    console.log(data);
                    if (data.result) {
                        layer.alert('附件添加成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else {
                        layer.alert('附件添加失敗！', {icon: 5});
                    }
                },
                end: function () {

                },

            };

            setTimeout(function () {
                parent.layer.closeAll();

            }, 500);

        });


        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        });

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围只到日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        //上传
        $('#attach_excel').on("change", (function () {
            //alert($(this).val());
            $("#fi").val($(this).val());
        }));

    </script>



{% endblock %}
