{% extends "base-left.html" %}
{% load staticfiles %}


{% block content %}

    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa  fa-info-circle"></i>系统管理:</h4>
            系统管理模块包含：系统权限管理和系统设置，系统权限管理可实现基于角色组的权限管理，可根据角色组权限动态生成URL导航菜单。
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-github"></i> 系统使用说明
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">

            <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th style="width: 6px;">编号</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>点击系统，可以进行基础设置和权限管理</td>
                <td>基础设置里面组织架构可以新增删除和修改</td>
                <td>用户管理：点击下载用户模板，填写完用户信息，点击导入用户可以批量上传用户，也可以单增和批量删除以及修改，同时可以设置用户的密码</td>
                <td>专案管理：点击新增可以新增专案，也可以批量删除</td>
                <td>阶段管理：点击新增可以新增阶段，也可以批量删除</td>
                <td>段别管理：点击新增可以新增段别，也可以批量删除</td>
                <td>工站管理：点击下载工站模板，填写完工站信息，点击汇入工站可以批量上传工站信息，</td>
                <td>主旨管理：点击新增可以新增主旨，也可以批量删除</td>
            </tr>
            <tr>
              <td>2</td>
              <td>点击流程，可以发布新的流程，也可以查看待接收流程，垃圾桶里面可已查看已经删除的流程</td>
              <td>流程信息：点击新增，可以发布新的工单，也可以下载模板进行批量导入</td>
              <td>待接收流程：可以查看还接收者还没有接收的工单</td>
              <td>已删除流程：可以查看已经删除的流程，</td>

            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
        </div>
      <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-12">
              <p class="lead">其他信息：</p>

              <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                <strong>权限管理开发文档获取地址（知识星球）：</strong> https://t.zsxq.com/a6IqBMr (微信中打开链接)<br>
                <strong>知识星球快捷入口：</strong>微信公众号搜索[知识星球]，关注后发送52824366，获取星球连接。<br>
                <strong>知乎专栏SandBox：</strong>https://zhuanlan.zhihu.com/sandbox <br>
                <strong>轻量级办公管理系统项目开源地址：</strong>https://github.com/RobbieHan/gistandard <br>
              </p>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>

{% endblock %}


{% block javascripts %}

{% endblock %}
