{% extends "base-left.html" %}
{% load staticfiles %}


{% block content %}

    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa  fa-info-circle"></i>系统管理:</h4>
            系统管理模块包含：系统权限管理和系统设置，系统权限管理可实现基于角色组的权限管理，可根据角色组权限动态生成URL导航菜单。
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-github"></i> 系统使用说明
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">

            <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th style="width: 6px;">编号</th>

            </tr>
            </thead>
            <tbody>
            <tr>
              <td>1</td>
              <td>點擊系統，進行基礎設置與權限管理</td>
            </tr>
            <tr>
                <td>(1)</td>
                 <td>組織架構：可新增刪除和修改</td>
            </tr>
            <tr>
                <td>(2)</td>
                <td>用戶管理：點擊下載用戶模板，填寫用戶信息，點擊導入可批量上傳用戶信息，也可以批量刪除以及修改，同時也可設置修改用戶密碼</td>
            </tr>
            <tr>
                <td>(3)</td>
                <td>專案管理：可新增專案和批量刪除</td>
            </tr>
            <tr>
                <td>(4)</td>
                <td>階段管理：可新增階段和批量刪除</td>

            </tr>
            <tr>
                <td>(5)</td>
                 <td>段別管理：可新增段別和批量刪除</td>
            </tr>
            <tr>
                <td>(6)</td>
                  <td>工站管理：點擊下載工站上傳模板，填寫工站信息，點擊匯入工站即可批量上傳，</td>
            </tr>
            <tr>
                <td>(7)</td>
                <td>主旨管理：可新增主旨和批量刪除</td>
            </tr>
            <tr>
              <td>2</td>
              <td>點擊流程，可以發佈新的流程，也可查看待接收的流程，垃圾桶里面可已查看已经删除的流程</td>
            </tr>
            <tr>
                <td>(1)</td>
                <td>流程信息：點擊新增，可發佈新的工單，也可下載模板進行批量導入發佈工單</td>
            </tr>
            <tr>
                <td>(2)</td>
                 <td>待接收流程：可查看接受者還未接收的工單</td>
            </tr>
            <tr>
                <td>(3)</td>
                 <td>已删除流程：可以查看已删除的流程</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
        </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>

{% endblock %}


{% block javascripts %}

{% endblock %}
