{% extends "base-left.html" %}
{% load staticfiles %}


{% block content %}

    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa  fa-info-circle"></i>系统管理:</h4>
            系统管理模块包含：系统权限管理和系统设置，系统权限管理可实现基于角色组的权限管理，可根据角色组权限动态生成URL导航菜单。
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-github"></i> 系统使用说明
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">

            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    {#            <thead>#}
                    {#            <tr>#}
                    {#              <th style="width: 1%;">編號</th>#}
                    {##}
                    {#            </tr>#}
                    {#            </thead>#}
                    <tbody>
                    <tr>
                        <td>一、</td>
                        <td>系統模塊</td>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>基础设置：系統基本信息的維護和管理</td>
                    </tr>
                    <tr>
                        <td>(1)</td>
                        <td>組織架構：系統使用部門的添加與維護</td>
                    </tr>
                    <tr>
                        <td>(2)</td>
                        <td>用戶管理：用戶信息的添加與維護，點擊新增，添加新的用戶，或下載模板進行批量導入（初始密碼：123456）</td>
                    </tr>
                    <tr>
                        <td>(3)</td>
                        <td>專案管理：專案的自定義添加與維護</td>

                    </tr>
                    <tr>
                        <td>(4)</td>
                        <td>段別管理：段別的自定義添加與維護</td>
                    </tr>
                    <tr>
                        <td>(5)</td>
                        <td>機種管理：機種的自定義添加與維護</td>

                    </tr>
                    <tr>
                        <td>(6)</td>
                        <td>工站管理：工站的自定義添加與維護，點擊新增，添加新的工站，或下載模板進行批量導入</td>
                    </tr>
                    <tr>
                        <td>(7)</td>
                        <td>主旨管理：流程主旨的自定義添加與維護</td>
                    </tr>
                    {#            <tr>#}
                    {#                <td>2.</td>#}
                    {#                 <td>權限管理：用戶權限的自定義設定（請勿操作）</td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <td>(1)</td>#}
                    {#                <td>菜單管理：系統功能路徑的維護與管理</td>#}
                    {#            </tr>#}
                    {#            <tr>#}
                    {#                <td>(2)</td>#}
                    {#                <td>角色管理：系統角色(流程、系統)操作權限的分配</td>#}
                    {#            </tr>#}
                    <tr>
                        <td>二、</td>
                        <td>流程模塊</td>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>流程管理：流程的發佈及管理</td>
                    </tr>
                    <tr>
                        <td>(1)</td>
                        <td>流程信息：流程的發佈與查看，點擊發佈，發佈新的流程，或下載模板進行批量導入</td>
                    </tr>
                    <tr>
                        <td>(2)</td>
                        <td>待接收流程：發佈者，查看用戶自身發佈為被接收的流程；接收者，查看用戶部門所有未接收的流程</td>
                    </tr>
                    <tr>
                        <td>(3)</td>
                        <td>我的待辦：發佈者(不可查看)；接收者，查看用戶自身所有未接收的流程</td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>異常聯繫：異常聯繫人管理</td>
                    </tr>
                    <tr>
                        <td>(1)</td>
                        <td>異常聯繫人：流程段別異常聯繫人的添加與維護</td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>垃圾桶：已刪除流程的管理</td>
                    </tr>
                    <tr>
                        <td>(1)</td>
                        <td>已删除流程：已刪除流程的查看及撤回</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>

{% endblock %}


{% block javascripts %}

{% endblock %}
