{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <style>
        textarea {
            height: '150px',
        }
    </style>
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <input type="hidden" name='id' value="{{ workflow.id }}"/>

            <div class="box-body">
                <fieldset>

                    <legend>
                        <h4>流程發佈</h4>
                    </legend>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">專案</label>
                        <div class="col-sm-3">
                            <select class="form-control inputText select2" name="project" id="project">
                                <option value="{{ workflow.project|default:projects.0 }}">{{ workflow.project|default:projects.0 }}</option>
                                {% for project in projects %}
                                    <option value="{{ project }}">{{ project }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <label class="col-sm-2 control-label">機種</label>
                        <div class="col-sm-3">
                            <select class="form-control inputText select2" name="unit_type" id="unit_type">
                                <option value="{{ workflow.unit_type }}">{{ workflow.unit_type|default:'--機種--' }}</option>
                                {% for unit_type in unit_types %}
                                    <option value="{{ unit_type.unit_type }}">{{ unit_type.unit_type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">發佈者部門</label>
                        <div class="col-sm-3">
                            {% if workflow %}
                                <input class="form-control" name="publish_dept" type="text"
                                       value="{{ workflow.publish_dept }}"/>
                            {% else %}
                                <input class="form-control" name="publish_dept" type="text"
                                       value="{{ request.user.department.name }}"/>
                            {% endif %}
                        </div>

                        <label class="col-sm-2 control-label">發佈者姓名</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="publisher" type="text" {% if workflow %}
                                   value="{{ workflow.publisher }}" {% else %}
                                   value="{{ request.user.name }}" {% endif %}/>
                        </div>
                    </div>


                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">發佈時間</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="publish_time" type="text" value="{{ time }}"/>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">主旨</label>
                        <div class="col-sm-3" style="width: 67%">

                            {% for subject in subjects %}
                                <input type="checkbox" name="subject" value="{{ subject.subject }}"
                                        {% if subject.subject in workflow_subjects %} checked="True" {% endif %}/>
                                <label>{{ subject.subject }}</label>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">工單</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" name="order" style="width:250%" value="{{ workflow.order }}"
                                      contenteditable="true">{{ workflow.order }}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">SN</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" name="sn" style="width:250%" value="{{ workflow.sn }}" id="sn"
                                      contenteditable="true">{{ workflow.sn }}
                            </textarea>
                        </div>

                        <div class="btn-group pull-right" style="margin: 1% 17%  0  0">
                            <button type="button" id="btnImport" class="btn btn-info">
                                <i class="glyphicon glyphicon-log-in"></i> 導入SN
                            </button>
                        </div>


                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">流程內容</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" name="key_content" style="width:300%"
                                      value="{{ workflow.key_content }}"
                                      contenteditable="true">{{ workflow.key_content }}
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">接收段別</label>
                        <div class="col-sm-3" style="width: 67%">
                            <input type="checkbox" name="segment" value="All"/>
                            <label>All</label>
                            {% for segment in segments %}
                                <input type="checkbox" name="segment" value="{{ segment.segment }}"
                                        {% if segment.segment in workflow_segments %} checked="True" {% endif %}/>
                                <label>{{ segment.segment }}</label>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">工站</label>
                        <div class="col-sm-3" id="station" style="width: 67%">

                            {% if request.user.department.name == 'TDL' %}
                                <input type="checkbox" name="station" value="AP POR Stations"
                                        {% if "AP POR Stations" in workflow_stations %} checked="True" {% endif %}/>
                                <label>AP POR Stations</label>
                                <input type="checkbox" name="station" value="All AP Stations"
                                        {% if "All AP Stations" in workflow_stations %} checked="True" {% endif %}/>
                                <label>All AP Stations</label>
                            {% elif request.user.department.name == 'RF' %}
                                <input type="checkbox" name="station" value="All RF POR Stations"
                                        {% if "All RF POR Stations" in workflow_stations %} checked="True" {% endif %}/>
                                <label>All RF POR Stations</label>
                                <input type="checkbox" name="station" value="All RF Stations"
                                        {% if "All RF Stations" in workflow_stations %} checked="True" {% endif %}/>
                                <label>All RF Stations</label>
                            {% endif %}

                            {% for station in stations %}
                                <input type="checkbox" name="station" value="{{ station.station }}"
                                        {% if station.station in workflow_stations %} checked="True" {% endif %}/>
                                <label>{{ station.station }}</label>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="form-group has-feedback" id="station_num" hidden="true">
                        <label class="col-sm-2 control-label">工站號</label>
                        <div class="col-sm-3" style="width: 67%">
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">工站DRI</label>
                        <label class="col-sm-1 ">白班</label>
                        <div >
                            <input name="day_dri" type="text" value="{{ workflow.day_dri }}" style="margin-left: 1px"/>
                        </div>

                        <label class="col-sm-1 ">晚班</label>
                        <div >
                            <input name="night_dri" type="text" value="{{ workflow.night_dri }}" style="margin-left: 1px"/>
                        </div>
                    </div>

                </fieldset>

            </div>

            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">確認</button>
                </div>
            </div>

        </form>
    </div>

    <div id="upload" style="display: none">
        <form method="post" enctype="multipart/form-data" id="SnForm" >
            {% csrf_token %}
            <div class="form-group text-center margin-top-5" style="margin-top: 24px;">

                <div class="input-append">
                    <input id="lefile" type="file" name="sn_file" style="display:none;">
                    <input id="fi" type="text" style="height:36px;width:60%;">
                    <a class="btn btn-primary btn-sm " onclick="$('#lefile').click();">Browse</a>
                </div>
                <div class="col-md-10 col-md-offset-1" style="margin-top: 12px;">
                    <button type="button" id='submit' class="btn btn-primary btn-sm ">提交</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>

    <script type="text/javascript">

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'process:order-workflow-create' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('流程發佈成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else {
                        layer.alert('流程發佈失敗！', {icon: 5});

                    }
                    return;
                }
            });
        });

        /*专案机种二级联动*/

        $("select[name='project']").change(function () {

            var project = $("select[name='project']").val();

            $.ajax({
                type: "POST",

                url: "{% url 'system:basic-project-unit_type' %}",

                data: {"project": project, csrfmiddlewaretoken: '{{ csrf_token }}'},

                success: function (data) {

                    // 機種
                    var unit_type = $("select[name='unit_type']").empty();
                    unit_type.append('<option>--機種--</option>');
                    $.each(data.unit_types, function (i, val) {
                        unit_type.append('<option value="' + val.unit_type + '">' + val.unit_type + '</option>')
                     });

                    // 工站
                    var station = $("#station").empty();
                    {% if request.user.department.name == 'TDL' %}
                        station.append('<input type="checkbox" name="station" value="AP POR Stations"/>' +
                            '<label>AP POR Stations</label>');
                        station.append('<input type="checkbox" name="station" value="All AP Stations"/>' +
                            '<label>All AP Stations</label>');
                    {% elif request.user.department.name == 'RF' %}
                        station.append('<input type="checkbox" name="station" value="All RF POR Stations"/>' +
                            '<label>All RF POR Stations</label>');
                        station.append('<input type="checkbox" name="station" value="All RF Stations"/>' +
                            '<label>All RF Stations</label>');
                    {% endif %}
                    $.each(data.stations, function (i, val) {
                        station.append('<input type="checkbox" name="station" value="' + val.station + '"/><label>' + val.station + '</label>')
                    });

                }
            });

        });

        /*工站和工站號聯動*/

        $("#station").change(function () {

            var data = $("#addForm").serialize();

            $.ajax({
                type: "POST",

                url: "{% url 'system:basic-station-number' %}",

                data: {"data": data, csrfmiddlewaretoken: '{{ csrf_token }}'},

                success: function (data) {
                    if(data.stations){
                        $('#station_num').removeAttr('hidden');
                        var number = $("#number").empty();
                        $.each(data.numbers, function (i, val) {
                            station.append('<input type="checkbox" name="number" value="' + val + '"/><label>' + val + '</label>')
                        });
                    }else {
                        $('#station_num').attr('hidden', 'true');
                    }

                }
            });

        });


        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        });

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围只到日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        // 導入  id="btnImport"
        $("#btnImport").on("click", function () {
            // alert("导入功能在此书写");
            layer.open({
                type: 1,
                title: "導入SN",
                {#closeBtn: 1,#}
                shadeClose: false,
                area: ['60%', '25%'],
                content: $("#upload"),
                end: function () {
                    oDataTable.ajax.reload();
                }
            });
        });

        $("#submit").click(function () {

            var options = {
                url: "{% url 'process:order-import' %}", //form提交数据的地址
                type: "POST", //form提交的方式(method:post/get)
                dataType: "json", //服务器返回数据类型
                clearForm: false, //提交成功后是否清空表单中的字段值
                restForm: false, //提交成功后是否重置表单中的字段值，即恢复到页面加载时的状态
                success: function (data, statusText) {//提交成功后执行的回调函数
                    if (data.sn) {
                        $('#sn').val(data.sn);
                        $('#layui-layer1').remove();
                        $('#layui-layer-shade1').remove()
                    } else {
                        layer.alert('SN上傳失敗！', {icon: 5});
                    }
                }
            };

            $("#SnForm").ajaxForm(options).submit();

        });

    </script>
    <script>

        //上传
        $('#lefile').on("change", (function () {
            //alert($(this).val());
            $("#fi").val($(this).val());
        }));

    </script>

{% endblock %}

