{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">

    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="liebiao">

                <div class="box-header">
                    <div class="btn-group pull-left">
                        <button type="button" id="btnRefresh" class="btn btn-default">
                            <i class="glyphicon glyphicon-repeat"></i> 刷新
                        </button>
                    </div>
                    <div class="btn-group pull-left">&nbsp</div>
                    <div class="btn-group pull-left">
                        <button type="button" id="btnCreate" class="btn btn-default">
                            <i class="glyphicon glyphicon-plus"></i> 新增
                        </button>
                    </div>
                    <div class="btn-group pull-left">&nbsp</div>
                    <div class="btn-group pull-left">
                        <button type="button" id="btnDelete" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i> 删除
                        </button>
                    </div>

{#                    <div class="btn-group pull-left">&nbsp</div>#}
{#                    <div class="btn-group pull-left">#}
{#                        <button type="button" id="btnBorrowApplyConfirm" class="btn btn-primary">#}
{#                            <i class="glyphicon glyphicon-list-alt"></i> 借入申請確認#}
{#                        </button>#}
{#                    </div>#}
{##}
{#                    <div class="btn-group pull-left">&nbsp</div>#}
{#                    <div class="btn-group pull-left">#}
{#                        <button type="button" id="btnScanApply" class="btn btn-success">#}
{#                            <i class="glyphicon glyphicon-list-alt"></i> 掃碼申請#}
{#                        </button>#}
{#                    </div>#}
{##}
{#                    <div class="btn-group pull-right">&nbsp</div>#}
{#                    <div class="btn-group pull-right">#}
{#                        <button type="button" id="btnOutOfStock" class="btn btn-warning">#}
{#                            <i class="glyphicon glyphicon-new-window"></i> 出庫#}
{#                        </button>#}
{#                    </div>#}

                    <div class="btn-group pull-right">&nbsp</div>
                    <div class="btn-group pull-right">
                        <button type="button" id="btnImport" class="btn btn-info">
                            <i class="glyphicon glyphicon-log-in"></i> 導入
                        </button>
                    </div>
                    <!--# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==-->
                    <!--# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==-->

                    <div id="upload" style="display: none">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group text-center margin-top-5" style="margin-top: 24px;">

                                <div class="input-append">
                                    <input id="lefile" type="file" name="file" style="display:none;">
                                    <input id="fi" type="text" style="height:36px;width:60%;">
                                    <a class="btn btn-primary btn-sm " onclick="$('#lefile').click();">Browse</a>
                                </div>
                                <div class="col-md-10 col-md-offset-1" style="margin-top: 12px;">
                                    <button type="submit" class="btn btn-primary btn-sm ">提交</button>
                                </div>
                            </div>

                        </form>

                    </div>
                    <!--# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==-->
                    <!--# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==-->
                </div>

                <div class="box-header">
                    <form class="form-inline" id="queryForm">

                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>專案：</label>
                            <select class="form-control inputText select2" name="project" id="project">
                                <option></option>
                                {% for project in projects %}
                                    <option value="{{ project.id }}">{{ project.project }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>階段：</label>
                            <select class="form-control inputText select2" name="build" id="build">
                                <option></option>
                                {% for build in builds %}
                                    <option value="{{ build.id }}">{{ build.sname }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>機種：</label>
                            <select class="form-control inputText select2" name="unit_type" id="unit_type">
                                <option></option>
                                {% for unit_type in unit_types %}
                                    <option value="{{ unit_type.id }}">{{ unit_type.unit_type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>段別：</label>
                            <select class="form-control inputText select2" name="segment" id="segment">
                                <option></option>
                                {% for segment in segments %}
                                    <option value="{{ segment.id }}">{{ segment.segment }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>執行狀況:</label>
                            <select class="form-control inputText select2" name="status" id="status">
                                <option></option>
                                <option value="Closed">Closed</option>
                                <option value="Ongoing">Ongoing</option>

                            </select>
                        </div>


                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>接收狀態:</label>
                            <select class="form-control inputText select2" name="restatus" id="restatus">
                                <option></option>
                                <option value="未接收">未接收</option>
                                <option value="已接收">已接收</option>

                            </select>
                        </div>

                        <button type="button" id="btnSearch" class="btn btn-default">
                            <i class="glyphicon glyphicon-search"></i>查询
                        </button>

                    </form>
                </div>

                <div class="box-body">
                    <table id="dtbList" class="display nowrap" cellspacing="0" width="100%">
                        <thead>
                        <tr valign="middle">
                            <th><input type="checkbox" id="checkAll"></th>
                            <th>ID</th>
                            <th>發佈部門</th>
                            <th>發佈DRI</th>
                            <th>發佈時間</th>
                            <th>主旨</th>
                            <th>工單</th>
                            <th>重點注意流程內容</th>
                            <th>段別</th>
                            <th>接收DRI</th>
                            <th>接收狀態</th>
                            <th>執行狀況</th>
{#                            <th>備註</th>#}
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br> <br>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>

    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>
    <script>
        // $(document).ready(function () {
        //     $('#dtbList').DataTable({
        //         dom: 'Bfrtip',
        //         buttons: [
        //             'copy', 'csv', 'excel', 'pdf', 'print'
        //         ]
        //     });
        // });
    </script>

    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#DQE-IM').addClass('active');
            $('#DQE-IM-INVENTORY').addClass('active');

        });
    </script>

    <script type="text/javascript">


        var oDataTable = null;
        $(function () {

            oDataTable = initTable();

            function initTable() {
                var oTable = $('#dtbList').DataTable($.extend(true, {},

                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,

                    {

                        ajax: {
                            "url": "{% url 'process:order-workflow-list' %}",
                            "data": function (d) {

                                d.project = $("#project").val();
                                d.build = $("#build").val();
                                d.unit_type = $("#unit_type").val();
                                d.segment = $("#segment").val();
                                d.status = $("#status").val();
                                d.restatus = $("#restatus").val();

                            },
                        },

                        columns: [
                            DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,

                            {
                                data: "id",
                                width: "5%",
                            },
                            {
                                data: "publish_dept",
                            },
                            {
                                data: "publisher",
                            },
                            {
                                data: "publish_time",
                                render: function (data, type, full, meta) {
                                    return moment(data).format("YYYY-MM-DD HH:mm");
                                }
                            },
                            {
                                data: "subject",
                            },

                            {
                                data: "order",
                            },
                            {
                                data: "key_content",
                            },
                            {
                                data: "segment",
                            },
                            {
                                data: "receiver",
                            },
                            {
                                data: "receive_status",
                                render: function (data, type, row, meta) {
                                    //console.log(">0>", data, ">1>", type, ">2>", row, ">3>", meta);
                                    if (data == 0) {
                                        return "未接收"
                                    } else if (data == 1) {
                                        return "已接收"
                                    }
                                }
                            },
                            {
                                data: "status",
                                render: function (data, type, row, meta) {
                                    //console.log(">0>", data, ">1>", type, ">2>", row, ">3>", meta);
                                    if (data == 0) {
                                        $("tr td:eq(11)").css('background', 'red');
                                        return ""
                                    } else if (data == 1) {
                                        $("tr td:eq(11)").css('background', 'yellow');
                                        return "Ongoing"
                                    } else if (data == 2){
                                        $("tr td:eq(11)").css('background', 'green');
                                        return "Closed"
                                    }
                                }
                            },

                            {#{#}
                            {#    data: "remark",#}
                            {# },#}
                            {
                                data: "id",
                                width: "12%",
                                bSortable: "false",
                                render: function (data, type, row, meta) {
                                    var ret = "<button title='详情' onclick='doDetail("
                                        + data + ")'><i class='glyphicon glyphicon-list-alt'></i></button>";
                                    ret = ret + "<button title='编辑' onclick='doUpdate("
                                        + data + ")'><i class='glyphicon glyphicon-pencil'></i></button>";
                                    ret = ret + "<button title='删除' onclick='doDelete("
                                        + data + ")'><i class='glyphicon glyphicon-trash'></i></button>";
                                    return ret;
                                }
                            }],

                        // "order": [[1, 'id']],

                    },

                    {
                        "lengthMenu": [[10, 50, 100, 500], [10, 50, 100, 500]]
                    }
                ));
                oTable.order([1, 'asc']).draw();

                return oTable;
            }

        });


        //查询
        $("#btnSearch").click(function () {
            oDataTable.ajax.reload();
        });

        //checkbox全选
        $("#checkAll").on("click", function () {
            if ($(this).prop("checked") === true) {
                $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                $('#example tbody tr').addClass('selected');
            } else {
                $("input[name='checkList']").prop("checked", false);
                $('#example tbody tr').removeClass('selected');
            }
        });

        //刷新
        $("#btnRefresh").click(function () {
            oDataTable.ajax.reload();
        });

        //新增
        $("#btnCreate").click(function () {
            layer.open({
                type: 2,
                title: '新增',
                shadeClose: false,
                maxmin: true,
                area: ['60%', '60%'],
                content: "{% url 'process:order-workflow-create' %}",
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        });

        //批量删除
        $("#btnDelete").click(function () {
            if ($("input[name='checkList']:checked").length == 0) {
                layer.msg("请选择要删除的记录");
                return;
            }

            var arrId = [];
            $("input[name='checkList']:checked").each(function () {
                //alert($(this).val());
                arrId.push($(this).val());
            });

            sId = arrId.join(',');

            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'process:order-workflow-delete' %}",
                        data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("操作成功！", {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                layer.alert("操作失败！", {icon: 2});
                            }

                        }
                    });
                }
            });
        });


        //编辑
        function doUpdate(id) {
            var div = layer.open({
                type: 2,
                title: '编辑',
                shadeClose: false,
                maxmin: true,
                area: ['60%', '60%'],
                content: ["{% url 'process:order-workflow-create' %}" + '?id=' + id,],
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        }

        //删除物料
        function doDelete(id) {
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'process:order-workflow-delete' %}",
                        data: {"id": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert('删除成功！', {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                //alert(msg.message);
                                layer.alert('删除失败！', {icon: 2});
                            }

                        }
                    });
                }
            });

        }


        // 導入  id="btnImport"
        $("#btnImport").on("click", function () {
            // alert("导入功能在此书写");
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '200px'],
                content: $("#upload"),
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        });

        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==


        //详情
        //此处inventoryId确定某一机台
        function doDetail(id) {
            window.location.href = "{% url 'process:order-workflow-detail' %}?inventoryId=" + id;
        }

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        /*专案阶段二级联动*/

        $("select[name='project']").change(function () {

            var project = $("select[name='project']").val();

            //alert(fk_project_id);

            $.ajax({
                type: "POST",

                url: "{% url 'system:basic-project-build' %}",

                data: {"project": project, csrfmiddlewaretoken: '{{ csrf_token }}'},

                success: function (data) {

                    var fk_st = $("select[name='build']").empty();  //.append('<option value>'+'--请选择--'+'</option>');
                    fk_st.append('<option></option>')
                    $.each(data.builds, function (i, val) {
                        //console.log(i + "===" + val.id)  // #表示浏览器控制台下打印消息
                        fk_st.append('<option value="' + val.id + '">' + val.build + '</option>')
                    })

                }
            });

        });


    </script>

    <script>

        //上传
        $('#lefile').on("change", (function () {
            //alert($(this).val());
            $("#fi").val($(this).val());
        }));

    </script>

{% endblock %}