{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <input type="hidden" name='id' value="{{ user.id }}"/>
            <input type="hidden" name='user' value="save"/>
            <div class="box-body">
                <fieldset>
                    <legend>
                        <h4>基本信息</h4>
                    </legend>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="name" type="text" value="{{ user.name }}"/>
                        </div>
                        <label class="col-sm-2 control-label">工號</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="work_num"  value="{{ user.work_num }}" />
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">用戶名</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="username" type="text" value="{{ user.username }}" readonly="readonly"/>
                        </div>
                    </div>

                    <legend>
                        <h4>聯繫信息</h4>
                    </legend>
                    <div class="form-group has-feedback">

                        <label class="col-sm-2 control-label">郵箱</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="email" type="text" value="{{ user.email }}"/>
                        </div>
                        <label class="col-sm-2 control-label">手機</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="mobile" type="text"
                                   value="{{ user.mobile }}"/>
                        </div>
                    </div>

                    <legend>
                        <h4>職員信息</h4>
                    </legend>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">部門</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="department">
                                <option value="{{ user.department }}">{{ user.department|default:"--部門--" }}</option>
                                {% for structure in structures %}
                                    <option value="{{ structure.id }}">{{ structure.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">專案</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="project">
                                <option value="{{ user.project }}">{{ user.project|default:"--專案--" }}</option>
                                {% for project in projects %}
                                    <option value="{{ project.project }}">{{ project.project }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">段別</label>
                        <div class="col-sm-3">
                            <select class="form-control select2" style="width:100%;" name="segment">
                                <option value="{{ user.segment }}">{{ user.segment|default:"--段別--" }}</option>
                                {% for segment in segments %}
                                    <option value="{{ segment.segment }}">{{ segment.segment }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <legend>
                        <h4>權限信息</h4>
                    </legend>
                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">賬號類型</label>
                        <div class="col-sm-6">
                            <label class="control-label">
                                <input type="radio" class="minimal" name="account_type" value="0"
                                {% if user.account_type == 0 %}checked{% endif %}>發佈者
                            </label>
                            <label class="control-label">
                                <input type="radio" class="minimal" name="account_type" value="1"
                                {% if user.account_type == 1 %}checked{% endif %}>接收者
                            </label>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">啟用狀態</label>
                        <div class="col-sm-6">
                            <label class="control-label">
                                <input type="radio" class="minimal" name="is_active" value="True"
                                {% ifequal user.is_active True %}checked{% endifequal %}>啟用
                            </label>
                            <label class="control-label">
                                <input type="radio" class="minimal" name="is_active" value="False"
                                {% ifequal user.is_active False %}checked{% endifequal %}>禁用
                            </label>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">DRI</label>
                        <div class="col-sm-6">
                            <label class="control-label">
                                <input type="radio" class="minimal" name="is_admin" value="True"
                                {% ifequal user.is_admin True %}checked{% endifequal %}>是
                            </label>
                            <label class="control-label">
                                <input type="radio" class="minimal" name="is_admin" value="False"
                                {% ifequal user.is_admin False %}checked{% endifequal %}>否
                            </label>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-2 control-label">所属角色组</label>
                        <div class="col-sm-6">
                            {% for role in roles %}
                                <label class="control-label">
                                    <input type="checkbox" class="minimal" name="roles" value="{{ role.id }}"
                                           {% if role in user_roles %}checked{% endif %}>
                                    {{ role.name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>

            </div>
            <div class="box-footer ">
                <div class="row span7 text-center ">
                    <button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
                    <button type="button" id="btnSave" class="btn btn-info margin-right ">保存</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script type="text/javascript">
        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        })

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month',
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'system:basic-user-update' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.status == 'success') {
                        layer.alert('数据保存成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
                    } else if (msg.status == 'fail') {
                        layer.alert('数据保存失败', {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }
                    return;
                }
            });
            });
    </script>
{% endblock %}
