<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: "Calibri", "Arial Black", arial-black;
            text-align: center;
            font-size: 17px;
        }

        ul {
            list-style-type: none;
        }

        .nav-left li {
            float: left;
            padding-right: 20px;
            color: white;
        }

        .nav-right {
            float: right;
        }

        .nav {
            background-color: #3c3c3c;
            padding: 12px 0;
            width: 100%;
        }

        .clearfix:after {
            clear: both;
            content: "";
            display: block;
        }

        .s9 {
            width: 80%;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            background-color: lightslategrey;
        }

        li {
            font-size: 18px;
        }

        .tabel-list {
            background-color: #255e95;
            border-spacing: 0;
            width: 70%;
            height: 20px;
        }

        .tabel-list th {
            text-align: center;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            color: white;
            width: auto;
            height: 40px;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<div>
    <div class="nav">
        <div class="s9 clearfix">
            <div class="nav-left">
                <ul>
                    <li>產品流程管理看板</li>
                </ul>
            </div>
            <div class="nav-right">
                <a href="{% url 'login' %}">登录/Login</a>
            </div>
        </div>
    </div>

    <table class="tabel-list" style="table-layout:fixed;float: left; ">
        <thead class="tabel_head">
        <tr>
            <th>發佈部門</th>
            <th>發佈DRI</th>
            <th>發佈時間</th>
            <th>主旨</th>
            <th>工單</th>
            <th>重點注意內容</th>
            <th>段別</th>
            <th>接收DRI</th>
            <th>接收狀態</th>
            <th>執行狀況</th>
        </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
    <div id="status_echarts" style="height: 300%; width:30%; float: left;"></div>
    <div id="segment_echarts" style="height: 300%; width:30%; float: right;"></div>
    <div id="segment_status_echarts" style="height: 300%; width:30%; float: right;margin-left: 70%;"></div>

</div>
<script type="text/javascript" src="/static/js/jquery.min.js "></script>
<script type="text/javascript" src="/static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">
    $(function () {
        setTimeout(function () {
            $('td').click(function () {
                if ($(this).children().length == 0) {
                    alert($(this).context.innerText)
                }
            })
        }, 1000)
    });

    creatTable();
    var interval3 = setInterval(function () {
        creatTable()
    }, 60000);

    function creatTable() {
        $.ajax({
            url: "{% url 'board-list' %}",
            success: function (e) {
                var arr = ["publish_dept", "publisher", "publish_time", "subject", "order", "key_content", "segment", "receiver", "receive_status", "status"];
                var data = e.data;

                var tableData = "<tr>";
                for (var i = 0; i < data.length; i++) {
                    for (var j = 0; j < arr.length; j++) {
                        if (data[i][arr[j]] == "未投產") {
                            tableData += "<td style='font-weight: 900;border-right:0.5px solid black; height:30px; border-bottom:0.5px solid black; background-color:#F79646; overflow:hidden;'>" + data[i][arr[j]] + "</td>";
                        } else if (data[i][arr[j]] == "Ongoing") {
                            tableData += "<td style='font-weight: 900;border-right:0.5px solid black; height:30px; border-bottom:0.5px solid black; background-color:#FBFB00; overflow:hidden;'>" + data[i][arr[j]] + "</td>";
                        } else if (data[i][arr[j]] == "Closed") {
                            tableData += "<td style='font-weight: 900;border-right:0.5px solid black; height:30px; border-bottom:0.5px solid black; background-color:#9BBB59; overflow:hidden;'>" + data[i][arr[j]] + "</td>";
                        } else {
                            tableData += "<td style='font-weight: 900;border-right:0.5px solid black; height:30px; border-bottom:0.5px solid black; background-color:#DDEDE1; overflow:hidden;'>" + data[i][arr[j]] + "</td>";
                        }
                    }
                    tableData += "</tr>";
                }
                $("#tbody").html(tableData)
            }
        })
    }

    window.onload = creatTable();


    // QN P1生產流程執行狀況環形圖
    var myChart1 = echarts.init(document.getElementById("status_echarts"));

    option = null;
    option = {
        // 默认色板
        color: ['#FF0000', '#F79646', '#FBFB00', '#9BBB59'],

        // 图表标题
        title: {
            text: 'QN P1生產流程執行狀況',
            x: 'center',
            y: 'top',
        },

        tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b}: {c} ({d}%)'
        },

        legend: {
            orient: 'vertical',
            left: 10,
            data: ['待接收', '未投產', '進行中', '已完成']
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {value: {{ un_receive }}, name: '待接收'},
                    {value: {{ un_product }}, name: '未投產'},
                    {value: {{ ongoing }}, name: '進行中'},
                    {value: {{ closed }}, name: '已完成'},
                ]
            }
        ]
    };

    //使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option);


    // QN P1生產流程執行狀況環形圖
    var myChart2 = echarts.init(document.getElementById("segment_echarts"));

    option = null;
    option = {
        // 默认色板
        color: ['#F79646', '#4F81BD', '#C0504D', '#9BBB59', '#8064A2', '#4BACC6'],

        // 图表标题
        title: {
            text: 'QN P1生產流程格段分佈狀況',
            x: 'center',
            y: 'top',
        },

        tooltip: {
            trigger: 'item',
            {#formatter: '{a} <br/>{b}: {c} ({d}%)'#}
        },

        legend: {
            orient: 'vertical',
            left: 10,
            {#data: [{% for segment_order in segment_orders %}'{{ segment_order.0.segment }}',{% endfor %}]#}
            data: [{% for segment in segments %} '{{ segment }}', {% endfor %}]
        },
        series: [
            {
                name: '访问来源',
                type: 'pie',
                radius: ['58%', '75%'],
                avoidLabelOverlap: false,
                label: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    label: {
                        show: true,
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                },
                labelLine: {
                    show: false
                },
                data: [
                    {% for segment_order in segment_orders %}
                        {value: {{ segment_order|length }}, name: '{{ segment_order.0.segment }}'},
                    {% endfor %}
                ]
            }
        ]
    };

    //使用刚指定的配置项和数据显示图表。
    myChart2.setOption(option);


    // QN P1生產流程段别執行狀況圖
    var myChart3 = echarts.init(document.getElementById('segment_status_echarts'));
    option = {

        // 默认色板
        color: ['#FF0000', '#F79646', '#FBFB00', '#9BBB59'],

        // 图表标题
        title: {
            text: 'QN P1生產流程格段執行分佈狀況',
            x: 'center',
            y: 'bottom',
         },

        tooltip: {
            trigger: 'axis',
            axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['待接收', '未投產', '進行中', '已完成']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis: {
            type: 'value',
            max: 10,

        },
        yAxis: {
            type: 'category',
            {#data: [{% for segment_order in segment_orders %} '{{ segment_order.0.segment }}', {% endfor %}]#}
            data: [{% for segment in segments %} '{{ segment }}', {% endfor %}]
        },
        series: [
            {
                name: '待接收',
                type: 'bar',
                stack: '总量',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [{% for accpet in un_accept_list %} '{{ accpet }}', {% endfor %}]
                {#data: [2, 1, 1, 0, 2, 0]#}
            },

            {
                name: '未投產',
                type: 'bar',
                stack: '总量',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [{% for product in un_product_list %} '{{ product }}', {% endfor %}]
                {#data: [1, 0, 0, 0, 2, 0]#}
            },
            {
                name: '進行中',
                type: 'bar',
                stack: '总量',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [{% for Ongoing in Ongoing_list %} '{{ Ongoing }}', {% endfor %}]
                {#data: [1, 0, 0, 0, 0, 0]#}
            },
            {
                name: '已完成',
                type: 'bar',
                stack: '总量',
                label: {
                    show: true,
                    position: 'insideRight'
                },
                data: [{% for Close in Closed_list %} '{{ Close }}', {% endfor %}]
                {#data: [0, 1, 1, 0, 0, 0]#}
            },

        ]
    };

    //使用刚指定的配置项和数据显示图表。
    myChart3.setOption(option);

    //图表窗体自适应
    $(window).resize(function () {
        myChart1.resize();
        myChart2.resize();
        myChart3.resize();
    });


</script>

</body>
</html>







