{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}PTS{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">

    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            創建流程
        </h1>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>發佈</h3>
                        <p>流程</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    {% if not request.user.account_type == 1 %}
                        <a href="{% url 'process:order-workflow-create' %}" class="small-box-footer"
                           disabled="true">請點擊</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">流程数据统计</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <a class="col-md-3 col-sm-6 col-xs-12" href="{% url 'process:order-workflow' %}">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-pencil-square-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">流程信息</span>
                                    <span class="info-box-number">{{ created }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="{% url 'process:order-receive' 1 %}">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-hourglass-2"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">我的待辦</span>
                                    <span class="info-box-number">{{ commission }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="/process/order/workflow/?status=Close">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="fa fa-check"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已結案</span>
                                    <span class="info-box-number">{{ finished }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="/board/">
                            <div class="info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-arrow-right"></i></span>
                                <div class="info-box-content">
                                    {#                                    <span class="info-box-text">前往看板</span>#}
                                    <h4 style="margin-top: 13%">前往看板</h4>
                                    {#                                    <span class="info-box-number">{{ finished }}</span>#}
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                    </div>
                </div>
            </div>
        </div>

    </section>

    <div style="margin-left: 15px" style="float: left;">
        <button type="button" id="btnCreate" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> 上傳附件圖片
        </button>
        <button type="button" id="btnDelete" class="btn btn-default" >
            <i class="glyphicon glyphicon-trash"></i> 删除附件圖片
        </button>
    </div>

    <div style="margin-left: 15px">
        <img src="/media/{{ image }}" />
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>

    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>

    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#DQE-IM').addClass('active');
            $('#DQE-IM-INVENTORY').addClass('active');

        });
    </script>

    <script type="text/javascript">

        //查询
        $("#btnSearch").click(function () {
            oDataTable.ajax.reload();
        });

        //checkbox全选
        $("#checkAll").on("click", function () {
            if ($(this).prop("checked") === true) {
                $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                $('#example tbody tr').addClass('selected');
            } else {
                $("input[name='checkList']").prop("checked", false);
                $('#example tbody tr').removeClass('selected');
            }
        });

        //刷新
        $("#btnRefresh").click(function () {
            oDataTable.ajax.reload();
        });

        //上傳附件圖片
        $("#btnCreate").click(function () {
            layer.open({
                type: 2,
                title: '上傳附件圖片',
                shadeClose: false,
                maxmin: true,
                area: ['28%', '28%'],
                content: "{% url 'process:order-attach-create' %}",
                end: function () {
                    //关闭时做的事情
                    window.location.reload();
                }
            });
        });

        //批量删除
        $("#btnDelete").click(function () {

            var id = '';

            layer.alert('确定刪除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    $.ajax({
                        type: "POST",
                        url: "{% url 'process:order-attach-delete' %}",
                        data: {"ids": id, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("操作成功！", {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                layer.alert("操作失败！", {icon: 2});
                            }

                        }
                    });
                }
            });
        });


        // 前往看板
        $("#btnBoard").on("click", function () {
            window.location.href = "{% url 'board' %}";
        });

    </script>

    <script>

        //上传
        $('#lefile').on("change", (function () {
            //alert($(this).val());
            $("#fi").val($(this).val());
        }));

    </script>

{% endblock %}
