{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}PMS{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">

    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            創建工單
        </h1>
    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>發佈</h3>
                        <p>工單</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    {% if not request.user.account_type == 1 %}
                        <a href="{% url 'process:order-workflow-create' %}" class="small-box-footer"
                           disabled="true">請點擊</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">工单数据统计</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <a class="col-md-3 col-sm-6 col-xs-12" href="/workflow/wfsys/icreated/">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-pencil-square-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">我的创建</span>
                                    <span class="info-box-number">{{ number.create_count }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="{% url 'app_process:order-workflow-list' %}">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-hourglass-2"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">待办事项</span>
                                    <span class="info-box-number">{{ number.doing_count }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="/process/order/workflow/list/?status=Close">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="fa fa-check"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已结案</span>
                                    <span class="info-box-number">{{ number.did_count }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                    </div>
                </div>


                {#        <div id="devlist">#}
                {#            <div class="box box-primary" id="liebiao">#}
                {#             <div class="box-body">#}
                {#                    <table id="dtbList" class="display nowrap" cellspacing="0" width="100%">#}
                {#                        <thead>#}
                {#                        <tr valign="middle">#}
                {#                            <th>ID</th>#}
                {#                            <th>發佈部門</th>#}
                {#                            <th>發佈DRI</th>#}
                {#                            <th>發佈時間</th>#}
                {#                            <th>主旨</th>#}
                {#                            <th>工單</th>#}
                {#                            <th>重點注意流程內容</th>#}
                {#                            <th>段別</th>#}
                {#                            <th>接收DRI</th>#}
                {#                            <th>接收狀態</th>#}
                {#                            <th>執行狀況</th>#}
                {#                            <th>操作</th>#}
                {#                        </tr>#}
                {#                        </thead>#}
                {#                        <tbody>#}
                {#                        </tbody>#}
                {#                    </table>#}
                {#                    <tbody id="imp" role="imp">#}
                {#                    <tr> <tr>#}
                {#                    </tbody>#}
                {#                </div>#}
                {#            </div>#}
                {#        </div>#}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>

    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>

    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#DQE-IM').addClass('active');
            $('#DQE-IM-INVENTORY').addClass('active');

        });
    </script>

    <script type="text/javascript">


        var oDataTable = null;
        $(function () {

            oDataTable = initTable();

            function initTable() {
                var oTable = $('#dtbList').DataTable($.extend(true, {},

                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,

                    {

                        ajax: {
                            "url": "{% url 'process:order-workflow-list' %}",
                            "data": function (d) {

                                d.project = $("#project").val();
                                d.build = $("#build").val();
                                d.unit_type = $("#unit_type").val();
                                d.segment = $("#segment").val();
                                d.status = $("#status").val();
                                d.receive_status = $("#restatus").val();

                            },
                        },

                        columns: [
                            {#DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,#}

                            {#{#}
                            {#    data: "id",#}
                            {#    width: "5%",#}
                            {# },#}
                            {
                                data: "publish_dept",
                            },
                            {
                                data: "publisher",
                            },
                            {
                                data: "publish_time",
                                render: function (data, type, full, meta) {
                                    return moment(data).format("YYYY-MM-DD HH:mm");
                                }
                            },
                            {
                                data: "subject",
                            },

                            {
                                data: "order",
                            },
                            {
                                data: "key_content",
                            },
                            {
                                data: "segment",
                            },
                            {
                                data: "receiver",
                            },
                            {
                                data: "receive_status",
                                render: function (data, type, row, meta) {
                                    //console.log(">0>", data, ">1>", type, ">2>", row, ">3>", meta);
                                    if (data == 0) {
                                        return "未接收"
                                    } else if (data == 1) {
                                        return "已接收"
                                    }
                                }
                            },
                            {
                                data: "status",
                                render: function (data, type, row, meta) {
                                    //console.log(">0>", data, ">1>", type, ">2>", row, ">3>", meta);
                                    if (data == 0) {
                                        $("tr td:eq(11)").css('background', 'red');
                                        return ""
                                    } else if (data == 1) {
                                        $("tr td:eq(11)").css('background', 'yellow');
                                        return "Ongoing"
                                    } else if (data == 2) {
                                        $("tr td:eq(11)").css('background', 'green');
                                        return "Closed"
                                    }
                                }
                            },

                            {#{#}
                            {#    data: "id",#}
                            {#    width: "12%",#}
                            {#    bSortable: "false",#}
                            {#    render: function (data, type, row, meta) {#}
                            {#        var ret = "<button title='详情' onclick='doDetail("#}
                            {#            + data + ")'><i class='glyphicon glyphicon-list-alt'></i></button>";#}
                            {#        ret = ret + "<button title='编辑' onclick='doUpdate("#}
                            {#            + data + ")'><i class='glyphicon glyphicon-pencil'></i></button>";#}
                            {#        ret = ret + "<button title='删除' onclick='doDelete("#}
                            {#            + data + ")'><i class='glyphicon glyphicon-trash'></i></button>";#}
                            {#        return ret;#}
                            {#    }#}
                            {# }#}
                        ],

                        // "order": [[1, 'id']],

                    },

                    {
                        "lengthMenu": [[10, 50, 100, 500], [10, 50, 100, 500]]
                    }
                ));
                oTable.order([1, 'asc']).draw();

                return oTable;
            }

        });


        //查询
        $("#btnSearch").click(function () {
            oDataTable.ajax.reload();
        });

        //checkbox全选
        $("#checkAll").on("click", function () {
            if ($(this).prop("checked") === true) {
                $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                $('#example tbody tr').addClass('selected');
            } else {
                $("input[name='checkList']").prop("checked", false);
                $('#example tbody tr').removeClass('selected');
            }
        });

        //刷新
        $("#btnRefresh").click(function () {
            oDataTable.ajax.reload();
        });

        //新增
        $("#btnCreate").click(function () {
            layer.open({
                type: 2,
                title: '新增',
                shadeClose: false,
                maxmin: true,
                area: ['60%', '60%'],
                content: "{% url 'process:order-workflow-create' %}",
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        });

        //批量删除
        $("#btnDelete").click(function () {
            if ($("input[name='checkList']:checked").length == 0) {
                layer.msg("请选择要删除的记录");
                return;
            }

            var arrId = [];
            $("input[name='checkList']:checked").each(function () {
                //alert($(this).val());
                arrId.push($(this).val());
            });

            sId = arrId.join(',');

            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'process:order-workflow-delete' %}",
                        data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("操作成功！", {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                layer.alert("操作失败！", {icon: 2});
                            }

                        }
                    });
                }
            });
        });


        //编辑
        function doUpdate(id) {
            var div = layer.open({
                type: 2,
                title: '编辑',
                shadeClose: false,
                maxmin: true,
                area: ['60%', '60%'],
                content: ["{% url 'process:order-workflow-create' %}" + '?id=' + id,],
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        }

        //删除物料
        function doDelete(id) {
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'process:order-workflow-delete' %}",
                        data: {"id": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert('删除成功！', {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                //alert(msg.message);
                                layer.alert('删除失败！', {icon: 2});
                            }

                        }
                    });
                }
            });

        }


        // 導入  id="btnImport"
        $("#btnImport").on("click", function () {
            // alert("导入功能在此书写");
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '200px'],
                content: $("#upload"),
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        });

        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==
        // ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==


        //详情
        //此处inventoryId确定某一机台
        function doDetail(id) {
            window.location.href = "{% url 'process:order-workflow-detail' %}?inventoryId=" + id;
        }

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        /*专案阶段二级联动*/

        $("select[name='project']").change(function () {

            var project = $("select[name='project']").val();

            //alert(fk_project_id);

            $.ajax({
                type: "POST",

                url: "{% url 'system:basic-project-build' %}",

                data: {"project": project, csrfmiddlewaretoken: '{{ csrf_token }}'},

                success: function (data) {

                    var fk_st = $("select[name='build']").empty();  //.append('<option value>'+'--请选择--'+'</option>');
                    fk_st.append('<option></option>')
                    $.each(data.builds, function (i, val) {
                        //console.log(i + "===" + val.id)  // #表示浏览器控制台下打印消息
                        fk_st.append('<option value="' + val.id + '">' + val.build + '</option>')
                    })

                }
            });

        });
    </script>

    <script>

        //上传
        $('#lefile').on("change", (function () {
            //alert($(this).val());
            $("#fi").val($(this).val());
        }));

    </script>

{% endblock %}
