{% extends "base-left.html" %}
{% load staticfiles %}

{% block title %}PMS{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            創建工單
        </h1>

    </section>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>發佈</h3>
                        <p>工單</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-pencil"></i>
                    </div>
{#                    <a href="" class="small-box-footer">請點擊</a>#}
                </div>
            </div>

            {#            <!-- ./col -->#}
            {#            <div class="col-lg-3 col-xs-6">#}
            {#                <!-- small box -->#}
            {#                <div class="small-box bg-yellow ">#}
            {#                    <div class="inner">#}
            {#                        <h3>新增</h3>#}
            {#                        <p>B類物品放行單</p>#}
            {#                    </div>#}
            {#                    <div class="icon">#}
            {#                        <i class="fa fa-pencil"></i>#}
            {#                    </div>#}
            {#                    <a href="{% url 'workflow:creatwf-bcgr' %}" class="small-box-footer">請點擊</a>#}
            {#                </div>#}
            {#            </div>#}
            {#            <!-- ./col -->#}
            {#{% if request.user.department.name == 'EPM' %}#}
            {#            <div class="col-lg-3 col-xs-6">#}
            {#                <!-- small box -->#}
            {#                <div class="small-box bg-green">#}
            {#                    <div class="inner">#}
            {#                        <h3>新增</h3>#}
            {##}
            {#                        <p>NPI主管簽核權限單</p>#}
            {#                    </div>#}
            {#                    <div class="icon">#}
            {#                        <i class="fa fa-pencil"></i>#}
            {#                    </div>#}
            {#                    <a href="{% url 'workflow:creatwf-ncp' %}" class="small-box-footer">請點擊</a>#}
            {#                </div>#}
            {#            </div>#}
            {#            <!-- ./col -->#}
            {#            <div class="col-lg-3 col-xs-6">#}
            {#                <!-- small box -->#}
            {#                <div class="small-box bg-gray">#}
            {#                    <div class="inner">#}
            {#                        <h3>新增</h3>#}
            {##}
            {#                        <p>NPI管制辦法單</p>#}
            {#                    </div>#}
            {#                    <div class="icon">#}
            {#                        <i class="fa fa-pencil"></i>#}
            {#                    </div>#}
            {#                    <a href="{% url 'workflow:creatwf-nc' %}" class="small-box-footer">請點擊</a>#}
            {#                </div>#}
            {#            </div>#}
            {#{% endif %}#}
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">工单数据统计</h3>
                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <a class="col-md-3 col-sm-6 col-xs-12" href="">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-pencil-square-o"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">我的创建</span>
                                    <span class="info-box-number">{{ created }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-hourglass-2"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">待接收工單</span>
                                    <span class="info-box-number">{{ receive }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                        <a class="col-md-3 col-sm-6 col-xs-12" href="">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="fa fa-check"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">已结案</span>
                                    <span class="info-box-number">{{ finished }}</span>
                                </div><!-- /.info-box-content -->
                            </div><!-- /.info-box -->
                        </a><!-- /.col -->

                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <!-- 注意：在static中要引入echart包 -->
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
    <script type="text/javascript">

        $(function () {
            $('#WORKFLOW-WFSYS').addClass('active');
            $('#WORKFLOW-WFSYS-NEWWF').addClass('active');
        });

        /*---柱形图---*/
        //echarts
        {#var bar_dom = document.getElementById("bar_container");#}
        {#var myBarChart = echarts.init(bar_dom);#}
        {#option = null;#}
        {#option = {#}
        {#    title: {#}
        {#        text: '創建-待辦-相關',#}
        {#        subtext: ''#}
        {#    },#}
        {#    tooltip: {#}
        {#        trigger: 'axis'#}
        {#    },#}
        {#    legend: {#}
        {#        data: [#}
        {#            '1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'#}
        {#                {% for data in datas %}'{{ data.fk_structure__name }}',{% endfor %}#}
        {#        ]#}
        {#    },#}
        {##}
        {#    toolbox: {#}
        {#        show: true,#}
        {#        feature: {#}
        {#            dataView: {show: true, readOnly: false},#}
        {#            saveAsImage: {show: true}#}
        {#        }#}
        {#    }#}
        {#    ,#}
        {#    calculable: true,#}
        {#    xAxis: [#}
        {#        {#}
        {#            type: 'category',#}
        {#            data: [{% for data in datas %}'{{ data.fk_structure__name }}',{% endfor %}] //'1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'#}
        {#            //{% for data in datas %}'{{ data.fk_structure__name }}',{% endfor %}#}
        {#        }#}
        {#    ],#}
        {#    yAxis: [#}
        {#        {#}
        {#            type: 'value'#}
        {#        }#}
        {#    ],#}
        {#    series: [#}
        {##}
        {##}
        {#        {#}
        {#            name: '访问来源', //作用用于点选隐藏的#}
        {#            type: 'bar',#}
        {#            data: [#}
        {#                {% for data in datas %}#}
        {#                    {value:{{ data.count }}, name: '{{ data.fk_structure__name }}'},#}
        {#                {% endfor %}#}
        {#            ],#}
        {##}
        {#            markPoint: {#}
        {#                data: [#}
        {#                    {type: 'max', name: '最大值'},#}
        {#                    {type: 'min', name: '最小值'}#}
        {#                ]#}
        {#            },#}
        {##}
        {#        },#}
        {##}
        {##}
        {#        {#}
        {#            name: 'ECharts2 - 2k数据',#}
        {#            type: 'bar',#}
        {#            itemStyle: {normal: {color: 'rgba(193,35,43,1)', label: {show: true}}},#}
        {##}
        {#            data: [40, 155, 95, 75,],#}
        {#            markPoint: {#}
        {#                data: [#}
        {#                    {type: 'max', name: '最大值'},#}
        {#                    {type: 'min', name: '最小值'}#}
        {#                ]#}
        {#            },#}
        {#        },#}
        {#        {#}
        {#            name: 'ECharts2 - 2w数据',#}
        {#            type: 'bar',#}
        {#            itemStyle: {#}
        {#                normal: {#}
        {#                    color: 'rgba(181,195,52,1)',#}
        {#                    label: {show: true, textStyle: {color: '#27727B'}}#}
        {#                }#}
        {#            },#}
        {#            data: [100, 200, 105, 100,]#}
        {#        },#}
        {#        {#}
        {#            name: 'FA',#}
        {#            type: 'bar',#}
        {#            itemStyle: {#}
        {#                normal: {#}
        {#                    color: 'rgba(252,206,16,1)',#}
        {#                    label: {show: true, textStyle: {color: '#E87C25'}}#}
        {#                }#}
        {#            },#}
        {#            data: [900, 911, 908, 778,]#}
        {#        },#}
        {##}
        {#        {#}
        {#            name: 'DQE',#}
        {#            type: 'bar',#}
        {#            itemStyle: {#}
        {#                normal: {#}
        {#                    color: 'rgba(193,35,43,0.5)', label: {#}
        {#                        show: true, formatter: function (p) {#}
        {#                            return p.value > 0 ? (p.value + '\n') : '';#}
        {#                        }#}
        {#                    }#}
        {#                }#}
        {#            },#}
        {#            data: [96, 224, 164, 124,]#}
        {#        }#}
        {##}
        {#    ]#}
        {
            #};
            #}
            {#if (option && typeof option === "object") {#}
            {#    myBarChart.setOption(option, true);#}
            {#}#}
                {#/*------*/#}
                {##}
                {##}
                {##}
                {#/*---饼形图---*/#}
                {#//echarts bar#}
                {##}
                {#var pie_dom = document.getElementById("pie_container");#}
                {#var myPieChart = echarts.init(pie_dom);#}
                {#option = null;#}
                {##}
                {#option = {#}
                {#    title: {#}
                {#        text: '創建-待辦-相關佔比',#}
                {#        subtext: '',#}
                {#        x: 'center'#}
                {#    },#}
                {#    tooltip: {#}
                {#        trigger: 'item',#}
                {#        formatter: "{a} <br/>{b} : {c} ({d}%)"#}
                {#    },#}
                {#    legend: {#}
                {#        orient: 'vertical',#}
                {#        left: 'left',#}
                {#        data: [#}
                {#            '直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎',]#}
                {##}
                {#            {% for data in datas %}'{{ data.fk_structure__name }}',{% endfor %}#}
                {#    },#}
                {#    series: [#}
                {#        {#}
                {#            name: '访问来源',#}
                {#            type: 'pie',#}
                {#            radius: '55%',#}
                {#            center: ['50%', '60%'],#}
                {#            data: [#}
                {#                {value: 335, name: '直接访问'},#}
                {#                {value: 310, name: '邮件营销'},#}
                {#                {value: 234, name: '联盟广告'},#}
                {#                {value: 135, name: '视频广告'},#}
                {#                {value: 1548, name: '搜索引擎'}#}
                {##}
                {#                   {% for data in datas %}#}
                {#                       {value:{{ data.count }}, name:'{{ data.fk_structure__name }}'},#}
                {#                   {% endfor %}#}
                {##}
                {#            ],#}
                {#                {% for data in year_work_order_count %}#}
                {#                    {value:{{ data.count }}, name:'{{ data.name }}'},#}
                {#                {% endfor %}#}
                {#            itemStyle: {#}
                {#                emphasis: {#}
                {#                    shadowBlur: 10,#}
                {#                    shadowOffsetX: 0,#}
                {#                    shadowColor: 'rgba(0, 0, 0, 0.5)'#}
                {#                }#}
                {#            }#}
                {#        }#}
                {#    ]#}
                {
                    #};
                    #}
                    {##}
                    {#if (option && typeof option === "object") {#}
                    {#    myPieChart.setOption(option, true);#}
                    {#}#}


                        /*------*/

                        //图表窗体自适应
                        {#$(window).resize(function () {#}
                        {#    myBarChart.resize();#}
                        {#    myPieChart.resize();#}
                        {#})
        ;
        #}

    </script>

{% endblock %}
